body {
    padding: 20px;
    margin: 70px auto 0;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

img {
    max-width: 50%;
    height: auto;
}

.container {
    background-color: rgba(181, 147, 13, 0.5);
    padding: 20px; /* Espacio alrededor del contenido */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    margin: auto; /* Centrar en la página */
    max-width: 800px; /* Ancho máximo del contenedor */
}

.center-img {
    display: block; /* Hace que la imagen se comporte como un bloque */
    margin: auto; /* Centra la imagen horizontalmente */
}
