.container {
    background-color: rgba(181, 147, 13, 0.5);
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: auto; 
    max-width: 800px; 
}


.input-group {
    margin-bottom: 20px;
}

.input-group label {
    margin-bottom: 5px; 
    display: block; 
}

.button-padding {
    padding: 5px 10px;
}

.input-group label {
    color: rgb(72, 4, 0);
}
