.navbar-brand img {
    max-width: 70px; 
    height: auto; 
    margin-right: 20px; 
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    color: #fefe00;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-link.active {
    font-weight: bold;
}

.navbar-text {
    margin-left: 0px;
}